@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 255, 255, 255;
  --foreground-rgb: 31, 41, 55; /* dark: gray-900 */
  --primary-rgb: 124, 58, 237; /* purple-600 */
  --secondary-rgb: 107, 114, 128; /* gray-500 */
  --accent-rgb: 236, 72, 153; /* pink-500 */

  --card-background-rgb: 249, 250, 251; /* gray-50 */
  --card-foreground-rgb: 31, 41, 55; /* gray-900 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 17, 24, 39; /* gray-900 */
    --foreground-rgb: 243, 244, 246; /* gray-100 */
    --primary-rgb: 168, 80, 147; /* purple-400 */
    --secondary-rgb: 156, 163, 175; /* gray-400 */
    --accent-rgb: 244, 114, 182; /* pink-400 */

    --card-background-rgb: 31, 41, 55; /* gray-800 */
    --card-foreground-rgb: 243, 244, 246; /* gray-100 */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

/* Add any other global styles here */
